<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataTransfer.Properties.Settings.ConnectionStringLive"
            connectionString="Data Source=.\MSSQLSERVERR2;Initial Catalog=test;User Id=sa;Password=123" />
        <add name="DataTransfer.Properties.Settings.ConnectionStringDev"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=test;Trusted_Connection=yes" />
        <add name="DataTransfer.Properties.Settings.ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>