<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataTransfer.Properties.Settings.ConnectionStringLive"
            connectionString="Data Source=DRAGON-PC\MSSQLSERVERR2;Initial Catalog=BuddyUp;User Id=sa;Password=sys" />
        <add name="DataTransfer.Properties.Settings.ConnectionStringDev"
            connectionString="Data Source=DRAGON-PC\SQLEXPRESS;Initial Catalog=BuddyUp;Trusted_Connection=yes" />
        <add name="DataTransfer.Properties.Settings.ConnectionString"
            connectionString="Data Source=DRAGON-PC\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>